*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Darker Grotesque';
}



/* header */ 

header{
  background-color: rgba(133, 205, 245, 1);
  overflow-x: hidden
}

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
}

.header .logo{
  width: 4rem;
  margin: 0.5rem 0rem 0.5rem 0rem
}

.header a{
  color: black;
  padding-bottom: 0.3rem;
  
}

.header a:hover{
  border-bottom: 3px solid black;
  transition: 0.15s;
}

/* section */ 

.about{
 
  text-align: center;
  display: flex;

  justify-content: center;
  overflow-x: hidden;
  height: 30rem;
}

.divAbout{
  min-height: 15rem;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.about .titulo{
  color: black;
  font-weight: bolder;
  font-size: 5rem;
  font-weight: 400;
}

.about .text{
  width: 100%;
  margin: 0;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
}

/* divider */

.divider{
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(to right, yellow, blue)
}

/* footer */
footer{
  background-color: rgba(51, 51, 51, 1);
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden
}

.contato pre{
  padding: 0rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Darker Grotesque';
  font-weight: 400;
}

.contato div{
  display: flex;
  height: 1.5rem;
  margin-bottom: 2.5rem;
  width: 20rem;
  gap: 1rem;
  color: white;

}

.contato{
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 15rem;
  
}
input{
  margin-top: -0.08rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgba(222, 185, 89, 1);
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.informacoes{
  display: flex;
  gap: 2.5rem;
  /*align-items: center;*/
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo p{
  margin-bottom: 0.5rem;
  color: white
}

@media (max-width: 480px){
  header{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  footer{
    height: 100%;
    
  }
  .informacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}